# File di sistema Mac
.DS_Store
**/.DS_Store
*.DS_Store

# Ambienti virtuali
.venv/
venv/
env/
*.venv

# Dati pesanti
*.csv
*.zip
*.parquet

# Cartelle di output/cache
__pycache__/
.ipynb_checkpoints/

# File esplicativo e notebook di default
Checklist_Definitiva.ipynb
Default_Notebook.ipynb

# Vecchie dipendenze
requirements_backup_py313.txt